<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete</title>
    <style>
        form{
            height: 90px;
            width: 490px;
            border: solid black 1px;
            margin: auto;
            border-radius: 5px;

        }
        button{
            
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    
        <button type="submit">COMPLETE</button>
    </form>
</body>
</html>
